<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>WikipediaMiner Services</display-name>
    <description>

    </description>

    <context-param>
      <param-name>webmaster</param-name>
      <param-value></param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>

    <context-param>
      <param-name>hubConfigFile</param-name>
      <param-value></param-value>
      <description>
        An XML file describing the wikipedia dumps that are available via these web services,
	and how they should be configured.
    </context-param>  





    <servlet>
      <servlet-name>ProgressService</servlet-name>
      <description>

      </description>
      <servlet-class>
        org.wikipedia.miner.service.ProgressService
      </servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>ProgressService</servlet-name>
      <url-pattern>/getProgress</url-pattern>
    </servlet-mapping>



    <servlet>
      <servlet-name>DefineService</servlet-name>
      <description>

      </description>
      <servlet-class>
        org.wikipedia.miner.service.DefineService
      </servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>DefineService</servlet-name>
      <url-pattern>/define</url-pattern>
    </servlet-mapping>



    <servlet>
      <servlet-name>SearchService</servlet-name>
      <description>

      </description>
      <servlet-class>
        org.wikipedia.miner.service.SearchService
      </servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>SearchService</servlet-name>
      <url-pattern>/search</url-pattern>
    </servlet-mapping>



    <servlet>
      <servlet-name>BrowseService</servlet-name>
      <description>

      </description>
      <servlet-class>
        org.wikipedia.miner.service.BrowseService
      </servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>BrowseService</servlet-name>
      <url-pattern>/browse</url-pattern>
    </servlet-mapping>



    <servlet>
      <servlet-name>CompareService</servlet-name>
      <description>

      </description>
      <servlet-class>
        org.wikipedia.miner.service.CompareService
      </servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>CompareService</servlet-name>
      <url-pattern>/compare</url-pattern>
    </servlet-mapping>



    <servlet>
      <servlet-name>WikifyService</servlet-name>
      <description>

      </description>
      <servlet-class>
        org.wikipedia.miner.service.WikifyService
      </servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>WikifyService</servlet-name>
      <url-pattern>/wikify</url-pattern>
    </servlet-mapping>



    <servlet>
      <servlet-name>CorrectionService</servlet-name>
      <description>

      </description>
      <servlet-class>
        org.wikipedia.miner.service.CorrectionService
      </servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>CorrectionService</servlet-name>
      <url-pattern>/correct</url-pattern>
    </servlet-mapping>

    
    <servlet>
      <servlet-name>StatisticsService</servlet-name>
      <description>

      </description>
      <servlet-class>
        org.wikipedia.miner.service.StatsService
      </servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>StatisticsService</servlet-name>
      <url-pattern>/getStats</url-pattern>
    </servlet-mapping>

    


    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>
    
    
</web-app>
